set timeout=5
set default=5

menuentry "TG11 OS" {
    set gfxpayload=text
    multiboot2 /boot/kernel.elf display=vga
    boot
}

menuentry "TG11 OS (framebuffer)" {
	insmod all_video
	terminal_output gfxterm
	set gfxmode=1024x768x32
	set gfxpayload=keep
	multiboot2 /boot/kernel-fb.elf display=fb
	boot
}

menuentry "TG11 OS (framebuffer 1920x1080)" {
	insmod all_video
	terminal_output gfxterm
	set gfxmode=1920x1080x32,1920x1080,1600x900x32,1600x900,1280x1024x32,1280x1024,1024x768x32,1024x768,auto
	set gfxpayload=keep
	multiboot2 /boot/kernel-fb.elf display=fb
	boot
}